@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* line 6, ../scss/reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 16, ../scss/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../scss/reset.scss */
body {
  line-height: 1;
}

/* line 22, ../scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, ../scss/reset.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 35, ../scss/reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 48, ../scss/reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 1, ../scss/base.scss */
html {
  background-color: #fff;
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 9, ../scss/base.scss */
p {
  line-height: 1.3;
}

/* line 13, ../scss/base.scss */
h1, h2 {
  line-height: 1.5;
}

/* line 17, ../scss/base.scss */
h1 {
  font: 42px/1.3 "Open Sans", sans-serif;
}

/* line 21, ../scss/base.scss */
h2 {
  font: 24px/1.3 "Open Sans", sans-serif;
}

/* line 25, ../scss/base.scss */
h3 {
  font: 18px/1.3 "Open Sans", sans-serif;
}

/* line 29, ../scss/base.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 35, ../scss/base.scss */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  position: relative;
  margin: 0;
  min-height: 100%;
  border-top: 20px solid #3bc0c3;
}

/* line 44, ../scss/base.scss */
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 50, ../scss/base.scss */
.mobile {
  display: none;
}
@media (max-width: 767px) {
  /* line 50, ../scss/base.scss */
  .mobile {
    display: block;
  }
}

/* line 1, ../scss/header.scss */
header {
  float: left;
  width: 100%;
  height: 130px;
}
@media (max-width: 767px) {
  /* line 1, ../scss/header.scss */
  header {
    height: 80px;
  }
}
/* line 8, ../scss/header.scss */
header .container {
  border-bottom: 5px solid #0f1922;
}
@media (max-width: 767px) {
  /* line 8, ../scss/header.scss */
  header .container {
    border: 0;
  }
}
/* line 14, ../scss/header.scss */
header #logo {
  position: absolute;
  left: 10px;
  top: 25px;
  text-indent: -9999em;
  background-image: url(../../my-assets/images/logo.png);
  background-repeat: no-repeat;
  height: 55px;
  width: 268px;
}
@media (max-width: 415px) {
  /* line 14, ../scss/header.scss */
  header #logo {
    background-size: 160px;
    width: 160px;
    top: 37px;
    height: 33px;
  }
}
/* line 31, ../scss/header.scss */
header .menu-hamburger {
  width: 45px;
  min-width: 45px;
  margin-right: 10px;
  background-color: #edf1f2;
  position: absolute;
  right: 0;
  padding: 0 10px;
  border-radius: 4px;
  height: 36px;
  border: 1px solid #edf1f2;
  top: 36px;
  text-align: center;
  z-index: 120;
}
/* line 45, ../scss/header.scss */
header .menu-hamburger img {
  position: absolute;
  top: 7px;
  left: 9px;
}

/* line 2, ../scss/layout/top-navigation.scss */
.desktop .navigation {
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 28px;
  line-height: 28px;
  z-index: 10;
  display: block;
}
/* line 12, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 17, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li a {
  display: block;
  color: #314350;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 28px;
  padding: 0 20px;
}
/* line 28, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li.current-item a {
  color: #f05050;
}
/* line 32, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover, .desktop .navigation nav ul li:focus {
  background: #1d2b36;
}
/* line 34, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover a, .desktop .navigation nav ul li:focus a {
  color: #fff;
}
/* line 38, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul {
  display: block;
  border-top: 5px solid #3bc0c3;
  background-color: #edf1f2;
  top: 25px;
}
/* line 42, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  background: #3cc0c5;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5fe8ed 0%, #3cc0c5 20%, #3cc0c5 50%, #3cc0c5 84%, #5fe8ed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5fe8ed 0%, #3cc0c5 20%, #3cc0c5 50%, #3cc0c5 84%, #5fe8ed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5fe8ed 0%, #3cc0c5 20%, #3cc0c5 50%, #3cc0c5 84%, #5fe8ed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fe8ed', endColorstr='#5fe8ed',GradientType=0 );
  /* IE6-9 */
  top: -5px;
  left: 0;
}
/* line 56, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
/* line 61, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li a {
  color: #314350;
}
/* line 65, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover a {
  color: #fff;
}
/* line 68, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover ul {
  top: -15px;
}
/* line 71, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover ul li a {
  color: #314350;
}
/* line 75, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover ul li:hover a {
  color: #fff;
}
/* line 84, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li.parent a:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 11px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #31434f;
}
/* line 100, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover.parent a:after {
  border-left: 4px solid #fff;
}
/* line 107, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul li:hover > ul li:hover.parent ul li a:after {
  display: none;
}
/* line 118, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 0;
}
/* line 125, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul li {
  float: none;
  width: 130px;
}
/* line 128, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul li a {
  line-height: 120%;
  padding: 8px 15px;
}
/* line 132, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul li:hover > ul {
  top: 0;
}
/* line 133, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul li:hover > ul:before {
  background: #fff;
}
/* line 139, ../scss/layout/top-navigation.scss */
.desktop .navigation nav ul ul ul {
  top: 0;
  left: 100%;
}
/* line 146, ../scss/layout/top-navigation.scss */
.desktop .navigation nav + nav {
  position: absolute;
  right: 0;
}
/* line 151, ../scss/layout/top-navigation.scss */
.mobile .navigation {
  display: none;
  position: absolute;
  top: 100px;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  border-bottom: 2px solid #3bc0c3;
}
/* line 160, ../scss/layout/top-navigation.scss */
.mobile .navigation ul li {
  border-top: 1px solid #3bc0c3;
}
/* line 162, ../scss/layout/top-navigation.scss */
.mobile .navigation ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #314350;
  font-weight: 700;
  padding: 0 20px;
  line-height: 36px;
}
/* line 170, ../scss/layout/top-navigation.scss */
.mobile .navigation ul li ul {
  text-indent: 10px;
}
/* line 174, ../scss/layout/top-navigation.scss */
.mobile .navigation ul li.parent ul {
  text-indent: 40px;
}
/* line 179, ../scss/layout/top-navigation.scss */
.mobile .navigation ul li.current-item a {
  color: #f05050;
}

/* line 1, ../scss/content.scss */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 940px;
  margin: 0 auto;
}
/* line 7, ../scss/content.scss */
.container.content {
  padding: 20px 0;
}
/* line 11, ../scss/content.scss */
.container section {
  padding: 15px 0;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
/* line 17, ../scss/content.scss */
.container section.home-block {
  padding-top: 20px;
}
/* line 19, ../scss/content.scss */
.container section.home-block .static-block {
  width: 49%;
  float: left;
  position: relative;
  height: 180px;
  background-size: cover;
  background-position: 50%;
}
@media (max-width: 939px) {
  /* line 19, ../scss/content.scss */
  .container section.home-block .static-block {
    width: 100%;
  }
}
/* line 29, ../scss/content.scss */
.container section.home-block .static-block .banner-title {
  position: absolute;
  top: 62px;
  text-align: center;
  width: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAHklEQVQ4T2M0MjKayUABYBw1gGE0DBhGw4BhWIQBAM7oEwEIraZpAAAAAElFTkSuQmCC);
  background: rgba(51, 51, 51, 0.6);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 0;
}
/* line 40, ../scss/content.scss */
.container section.home-block .static-block .banner-title h3 {
  font-size: 24px;
  line-height: 1.3;
}
/* line 44, ../scss/content.scss */
.container section.home-block .static-block .banner-title h4 {
  font-size: 12px;
}
/* line 49, ../scss/content.scss */
.container section.home-block article {
  width: 49%;
  float: right;
  color: #333333;
  font-weight: 700;
  margin-left: 1%;
}
@media (max-width: 939px) {
  /* line 49, ../scss/content.scss */
  .container section.home-block article {
    margin: 0;
    width: 100%;
    padding: 40px 20px 20px 20px;
  }
}
/* line 60, ../scss/content.scss */
.container section.home-block article h1 {
  font-size: 42px;
  line-height: 1.3;
  padding-bottom: 5px;
  margin-top: -15px;
  font-weight: 700;
}
@media (max-width: 365px) {
  /* line 60, ../scss/content.scss */
  .container section.home-block article h1 {
    line-height: 1.2;
  }
}
/* line 70, ../scss/content.scss */
.container section.home-block article h2 {
  text-transform: uppercase;
  font-size: 24px;
  width: 300px;
  line-height: 1.3;
  padding-bottom: 5px;
}
@media (max-width: 767px) {
  /* line 70, ../scss/content.scss */
  .container section.home-block article h2 {
    width: 100%;
    padding-bottom: 20px;
  }
}
/* line 81, ../scss/content.scss */
.container section.home-block article p {
  font-size: 18px;
}
/* line 90, ../scss/content.scss */
.container section .content-header {
  width: 100%;
  text-align: left;
  position: relative;
  padding-left: 30px;
}
@media (max-width: 767px) {
  /* line 90, ../scss/content.scss */
  .container section .content-header {
    text-align: center;
    padding-left: 0;
  }
}
/* line 99, ../scss/content.scss */
.container section .content-header:before {
  content: " ";
  position: absolute;
  width: 100%;
  border-top: 2px solid #314350;
  height: 3px;
  left: 0;
  top: 9px;
  z-index: 1;
}
@media (max-width: 767px) {
  /* line 99, ../scss/content.scss */
  .container section .content-header:before {
    display: none;
  }
}
/* line 112, ../scss/content.scss */
.container section .content-header span.title {
  font: 24px/0.7 "Open Sans", sans-serif;
  color: #314350;
  background-color: #fff;
  z-index: 2;
  position: relative;
  vertical-align: baseline;
  text-transform: uppercase;
  padding: 0 10px;
}

/* line 128, ../scss/content.scss */
.alert {
  float: left;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: #f05050;
}

/* line 1, ../scss/button.scss */
.button {
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  background: #3bc0c3;
  border: 1px solid #3bc0c3;
  color: #fff;
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
/* line 26, ../scss/button.scss */
.button:hover, .button:focus {
  background-color: #309ea1;
  outline: none;
}

/* line 32, ../scss/button.scss */
input {
  -webkit-appearance: none;
}

/* line 1, ../scss/form.scss */
form {
  position: relative;
}
/* line 3, ../scss/form.scss */
form input[type="text"] {
  display: block;
  box-sizing: border-box;
  line-height: 1.0;
  font-size: 14px;
  height: 30PX;
  border-radius: 3px;
  width: 230px;
  left: 0;
  border: 0;
  float: left;
  margin-top: 20px;
  padding-left: 35px;
}
/* line 16, ../scss/form.scss */
form input[type="text"]:focus {
  outline: none;
}
@media (max-width: 767px) {
  /* line 3, ../scss/form.scss */
  form input[type="text"] {
    width: 100%;
  }
}
/* line 21, ../scss/form.scss */
form input[type="submit"] {
  position: absolute;
  height: 30px;
  top: 20px;
  left: 240px;
}
@media (max-width: 939px) {
  /* line 21, ../scss/form.scss */
  form input[type="submit"] {
    position: relative;
    height: 30px;
    top: 32px;
    left: 0;
    float: left;
    clear: both;
  }
}
@media (max-width: 767px) {
  /* line 21, ../scss/form.scss */
  form input[type="submit"] {
    width: 100%;
    top: 10px;
  }
}
/* line 40, ../scss/form.scss */
form:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../../my-assets/images/mail.png);
  background-repeat: no-repeat;
  color: #8f8e8e;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  position: absolute;
  top: 23px;
  left: 3px;
  background-position: 3px 4px;
}
/* line 56, ../scss/form.scss */
form input {
  line-height: normal !important;
}

/* line 61, ../scss/form.scss */
.ajax-process {
  display: none;
  position: absolute;
  font-size: 12px;
  color: #fff;
  font-style: italic;
  left: 20px;
  top: 60px;
}
/* line 69, ../scss/form.scss */
.ajax-process:before {
  content: '';
  background-image: url(../../my-assets/images/ajax_loader.gif);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -20px;
  top: -3px;
}
/* line 79, ../scss/form.scss */
.ajax-process.success {
  color: #3c8039;
}
/* line 81, ../scss/form.scss */
.ajax-process.success:before {
  content: '';
  background-image: url(../../my-assets/images/accept.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -20px;
  top: -3px;
}
/* line 92, ../scss/form.scss */
.ajax-process.error {
  color: #f05050;
}
/* line 94, ../scss/form.scss */
.ajax-process.error:before {
  content: '';
  background-image: url(../../my-assets/images/error.png);
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -20px;
  top: -3px;
}
@media (max-width: 767px) {
  /* line 61, ../scss/form.scss */
  .ajax-process {
    top: 100px;
  }
}

/* line 2, ../scss/layout/top-cart.scss */
.header-top-cart {
  min-width: 210px;
  position: absolute;
  right: 0;
  padding: 0 10px;
  border-radius: 4px;
  height: 36px;
  top: 36px;
  text-align: center;
  border: 1px solid #b6c2c9;
}
@media (max-width: 767px) {
  /* line 2, ../scss/layout/top-cart.scss */
  .header-top-cart {
    width: 45px;
    min-width: 45px;
    margin-right: 10px;
    right: 60px;
    border: 0;
  }
}
@media (max-width: 365px) {
  /* line 2, ../scss/layout/top-cart.scss */
  .header-top-cart {
    width: 100%;
    min-width: 45px;
    margin-right: 0;
    right: 0;
  }
}
/* line 29, ../scss/layout/top-cart.scss */
.header-top-cart a {
  text-decoration: none;
  font: 12px/36px "Open Sans", sans-serif;
  font-weight: 400;
  color: #314350;
}
/* line 35, ../scss/layout/top-cart.scss */
.header-top-cart a .minicart {
  height: 36px;
  width: 45px;
  position: absolute;
  display: block;
  top: 0;
  border-radius: 3px;
  left: 0;
}
@media (max-width: 767px) {
  /* line 35, ../scss/layout/top-cart.scss */
  .header-top-cart a .minicart {
    background-color: #edf1f2;
    border: 1px solid #edf1f2;
    left: 5px;
    height: 36px;
    width: 45px;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    border-radius: 3px;
  }
}
@media (max-width: 365px) {
  /* line 35, ../scss/layout/top-cart.scss */
  .header-top-cart a .minicart {
    float: right;
    margin-top: 0;
    margin-right: 57px;
    position: relative;
  }
}
/* line 65, ../scss/layout/top-cart.scss */
.header-top-cart a strong {
  font-weight: 700;
  padding-left: 2px;
}
/* line 69, ../scss/layout/top-cart.scss */
.header-top-cart a img {
  vertical-align: sub;
  margin-right: 2px;
  top: 2px;
  position: relative;
  border-radius: 3px;
}
/* line 77, ../scss/layout/top-cart.scss */
.header-top-cart:hover {
  cursor: pointer;
}
/* line 81, ../scss/layout/top-cart.scss */
.header-top-cart .topcart {
  padding-left: 28px;
}
@media (max-width: 767px) {
  /* line 83, ../scss/layout/top-cart.scss */
  .header-top-cart .topcart #total-qty-item, .header-top-cart .topcart .item-text, .header-top-cart .topcart strong {
    display: none;
  }
}

/* line 92, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper {
  min-width: 210px;
  width: auto;
  position: absolute;
  right: -1px;
  top: 0;
  text-align: center;
  z-index: 100;
  padding-top: 5px;
  min-height: 35px;
}
@media (max-width: 767px) {
  /* line 92, ../scss/layout/top-cart.scss */
  .shopping-topcart-wrapper {
    min-width: 45px;
    Z-INDEX: 1;
  }
}
@media (max-width: 365px) {
  /* line 92, ../scss/layout/top-cart.scss */
  .shopping-topcart-wrapper {
    width: 100%;
  }
}
/* line 109, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items {
  display: none;
  min-width: 270px;
  width: auto;
  position: relative;
  right: -1px;
  border-radius: 4px;
  border: 1px solid #b6c2c9;
  top: 39px;
  float: left;
  text-align: center;
  background-color: #fff;
  z-index: 100;
  padding-top: 5px;
}
@media (max-width: 365px) {
  /* line 109, ../scss/layout/top-cart.scss */
  .shopping-topcart-wrapper .shopping-topcart-items {
    right: 0;
    display: none;
    min-width: 270px;
    width: 100%;
    position: relative;
    border-radius: 0;
    border: 0;
    float: left;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    padding-top: 5px;
    border-bottom: 2px solid #3bc0c3;
    padding-bottom: 10px;
  }
}
/* line 139, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li {
  float: left;
  position: relative;
  width: 100%;
}
/* line 143, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li img {
  width: 60px;
  position: relative;
  float: left;
  border-radius: 3px;
}
/* line 149, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li .title-cart {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  top: 15px;
  left: 70px;
  position: absolute;
}
/* line 157, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li .item-descr {
  position: absolute;
  left: 70px;
  top: 35px;
  font-size: 12px;
}
/* line 163, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li a.remove-item {
  position: absolute;
  right: 15px;
  top: 10px;
  text-indent: -9999em;
}
/* line 168, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items li a.remove-item:after {
  content: '';
  background-image: url(../../my-assets/images/remove-icon.png);
  background-repeat: no-repeat;
  background-position: 3px 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  top: 9px;
}
/* line 181, ../scss/layout/top-cart.scss */
.shopping-topcart-wrapper .shopping-topcart-items .button {
  float: right;
  margin: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 1.3;
}

/* line 1, ../scss/layout/product.scss */
ol.products-list {
  margin-right: -19px;
}
@media (max-width: 767px) {
  /* line 1, ../scss/layout/product.scss */
  ol.products-list {
    margin-right: 4%;
    margin-left: 4%;
  }
}
/* line 7, ../scss/layout/product.scss */
ol.products-list li {
  text-align: center;
  padding-bottom: 20px;
  float: left;
}
/* line 11, ../scss/layout/product.scss */
ol.products-list li.col-4 {
  width: 23%;
  margin-right: 2%;
}
@media (max-width: 767px) {
  /* line 11, ../scss/layout/product.scss */
  ol.products-list li.col-4 {
    width: 46%;
    margin-right: 4%;
  }
}
/* line 19, ../scss/layout/product.scss */
ol.products-list li .item-container {
  position: relative;
  border: 1px solid #b6c2c9;
  max-width: 262px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 27, ../scss/layout/product.scss */
ol.products-list li .item-container a.product-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 36, ../scss/layout/product.scss */
.item-description {
  margin: 20px 0;
  text-align: center;
}
/* line 39, ../scss/layout/product.scss */
.item-description .item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #314350;
}
/* line 46, ../scss/layout/product.scss */
.item-description .item-price {
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 50, ../scss/layout/product.scss */
.item-description .item-special-price {
  color: #f05050;
}

/* line 1, ../scss/footer.scss */
footer {
  position: relative;
  padding: 1rem;
  float: left;
  width: 100%;
  background-color: #b6c2c9;
  padding-bottom: 40px;
  text-align: center;
}
/* line 9, ../scss/footer.scss */
footer .container {
  position: relative;
}
/* line 11, ../scss/footer.scss */
footer .container .col-4, footer .container .col-3 {
  width: 30%;
  float: left;
}
@media (max-width: 767px) {
  /* line 11, ../scss/footer.scss */
  footer .container .col-4, footer .container .col-3 {
    width: 100%;
    padding-bottom: 20px;
  }
}
/* line 18, ../scss/footer.scss */
footer .container .col-4 h3, footer .container .col-3 h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  font: 18px/1.3 "Open Sans", sans-serif;
  font-weight: 700;
}
/* line 25, ../scss/footer.scss */
footer .container .col-4 ul, footer .container .col-3 ul {
  padding-top: 20px;
}
@media (max-width: 767px) {
  /* line 25, ../scss/footer.scss */
  footer .container .col-4 ul, footer .container .col-3 ul {
    padding-top: 10px;
  }
}
/* line 30, ../scss/footer.scss */
footer .container .col-4 ul li, footer .container .col-3 ul li {
  text-align: left;
}
/* line 32, ../scss/footer.scss */
footer .container .col-4 ul li a, footer .container .col-3 ul li a {
  text-decoration: none;
  font: 14px/2 "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
/* line 40, ../scss/footer.scss */
footer .container .col-4.col-3, footer .container .col-3.col-3 {
  width: 40%;
}
@media (max-width: 767px) {
  /* line 40, ../scss/footer.scss */
  footer .container .col-4.col-3, footer .container .col-3.col-3 {
    width: 100%;
  }
}
