footer {
  position: relative;
  padding: 1rem;
  float: left;
  width: 100%;
  background-color: $footer-bg;
  padding-bottom: 40px;
  text-align: center;
  .container  {
    position: relative;
    .col-4, .col-3 {
      width: 30%;
      float: left;
      h3 {
        text-transform: uppercase;
        color: #fff;
        text-align: left;
        font: 18px/1.3 $open-sans;
        font-weight: 700;
      }
      ul {
        padding-top: 20px;
        li {
          text-align: left;
          a {
            text-decoration: none;
            font: 14px/2.0 $open-sans;
            text-transform: uppercase;
            color: #fff;
          }
        }
      }
      &.col-3 {
        width: 40%;
      }
    }
  }
}