//   top cart
.header-top-cart {
  min-width: 210px;
  position: absolute;
  right: 0;
  background-color: #fff;
  padding: 0 10px;
  border-radius: 4px;
  height: 36px;
  border: 1px solid #b6c2c9;
  top: 36px;
  text-align: center;
 a {
   text-decoration: none;
   font: 12px/36px $open-sans;
   font-weight: 400;
   color: $blue-text-color;
   strong {
     font-weight: 700;
     padding-left: 2px;
   }
   img {
     vertical-align: sub;
     margin-right: 13px;
     top: 2px;
     position: relative;
     border-radius: $default-border-radius;
   }
 }
  &:hover {
    cursor: pointer;
  }
}

.shopping-topcart-wrapper {
  min-width: 210px;
  width: auto;
  position: absolute;
  right: -1px;
  top: 0;
  text-align: center;
  z-index: 100;
  padding-top: 5px;
  min-height: 35px;
  .shopping-topcart-items {
    display: none;
    min-width: 270px;
    width: auto;
    position: relative;
    right: -1px;
    border-radius: 4px;
    border: 1px solid #b6c2c9;
    top: 39px;
    float: left;
    text-align: center;
    background-color: #fff;
    z-index: 100;
    padding-top: 5px;
    li {
      float: left;
      position: relative;
      width: 100%;
      img {
        width: 60px;
        position: relative;
        float: left;
        border-radius: $default-border-radius;
      }
      .title-cart {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        top: 15px;
        left: 70px;
        position: absolute;
      }
      .item-descr {
        position: absolute;
        left: 70px;
        top: 35px;
        font-size: 12px;
      }
      a.remove-item {
        position: absolute;
        right: 15px;
        top: 10px;
        text-indent: -9999em;
        &:after {
          content: '';
          background-image: url(#{$assets}/images/remove-icon.png);
          background-repeat: no-repeat;
          background-position: 3px 3px;
          width: 20px;
          height: 20px;
          position: absolute;
          left: -10px;
          top: 9px;
        }
      }
    }
    .button {
      float: right;
      margin: 10px;
      color: #fff;
      font-size: 12px;
      line-height: 1.3;
    }
  }
}